<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- === style sheet ====  -->
    <link rel="stylesheet" href="slider.css">
    <title>3D Image Slider</title>
</head>

<body>
    <div class="slider">
        <span style="--i:1;"><img src="../img1.png"></span>
        <span style="--i:2;"><img src="../img2.png"></span>
        <span style="--i:3;"><img src="../img3.png"></span>
        <span style="--i:4;"><img src="../img4.png"></span>
        <span style="--i:5;"><img src="../img5.png"></span>
        <span style="--i:6;"><img src="../img6.png"></span>
        <span style="--i:7;"><img src="../img7.png"></span>
        <span style="--i:8;"><img src="../img8.png"></span>
    </div>
</body>

</html>